.img-icon {
    vertical-align: middle;
    height: 10px;
    min-width: 30px;
}

.file-name {
    display: inline-block;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.file-size {
    display: inline-block;
    margin-left: 10px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-download {
    margin-left: 30px;
}

.glyphicon {
    font-size: 18px;
}