<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>呵呵</title>
    <link type="text/css" rel="stylesheet" href="/dist/styles/index.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
</head>

<body style="background-color: #e5e5e5;">
    <img src="/assets/xiaoyumei.JPG" width="60px" weight="60px">
    <div>面包屑</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/dist/scripts/index.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
</html>